body {
    width: 1440px;
    height: 2102px;
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}


.header {
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
}
.wrapper {
    margin: 0 auto;
    width: 1146px;
    margin: 0 auto;
}

.title {
    padding-left: 34px ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.logo {
    width: 264.19px;
    height: 208px;
}
.search-strock{
    margin-top: 50px;
}
.search-block {
    padding-left: 19px;
    width: 750px;
    height: 55px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}