body {
	color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: white;
	border-top: 5px solid #7e7e7e;
	margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.logo{
  margin: 0 auto;
  width: 265px;
}
/* Навигационное меню */
.main-navigation {

}

.top-menu {
	margin: 0 auto;
	padding: 0;
}

.top-menu li {
	display: inline-block;
  font-family: 'Roboto', sans-serif;
	padding-right: 34px;
	margin: 0;
	text-transform: uppercase;

}

.top-menu li.current_page_item {
  box-shadow: 0 0 1px black;
	color: #000 !important;
}

.top-menu a {
	color: #000;
	text-decoration: none;
}

.top-menu li.current_page_item a {
	color: #fff;
}

nav{
  margin: 0 auto;
  max-width: 1220px
}
