body {
	color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: white;
	border-top: 5px solid #7e7e7e;
	margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}


/* Header */
.logo{
  margin: 0 auto;
  width: 265px;
}

.hr-header{
  width: 80%;
  margin: 0 auto;
  height: 3px;
  background-color: black;
}
/* Навигационное меню */
.main-navigation {

}

.top-menu {
	margin: 0 auto;
	padding: 0;
}

.top-menu li {
	display: inline-block;
  font-family: 'Roboto', sans-serif;
	padding-right: 34px;
	margin: 0;
	text-transform: uppercase;

}

.top-menu li.current_page_item {
  box-shadow: 0 0 1px black;
	color: #000 !important;
}

.top-menu a {
	color: #000;
	text-decoration: none;
}

.top-menu li.current_page_item a {
	color: #fff;
}

nav{
  margin: 0 auto;
  max-width: 1220px
}

/* footer */

.nav-footer-colum{
  display: flex;
  flex-direction: row;
}

ul{
  font-family: 'Roboto', sans-serif;
}

h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 25px;
}

li{
  list-style-type: none;
  margin-left: -15px;
}
.nav-footer-colum a {
	color: #000;
	text-decoration: none;
}
